td.cell.code
  = shortName
td.cell
  = fullName
td.cell
  = host
td.cell
  = port
td
  span.cell.btn.btn-primary.edit(data-coin-id=_id) Edit
  span.cell.btn.btn-primary.float-left.delete(data-coin-id=_id) Delete
