table.table.table-striped.table-bordered.table-hover
  th.cell.h3.text-center Code
  th.cell.h3.text-center Name
  th.cell.h3.text-center Host
  th.cell.h3.text-center Port
  th.cell.h3.text-center Actions
  each row in data
    tr
      != row.render()
span.cell.btn.add.btn-primary Add
