#coin-delete-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(id="myModalLabel", type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title Confirm Delete
      .modal-body
        = 'This will complete remove ' + fullName + ' wallet from the system.  There is no undo for this delete.  Are you sure you want to delete ' + fullName + '?'
      .modal-footer
        .col-sm-offset-2.col-sm-10
          button.cell.btn.btn-primary.confirm(type="submit") Delete
          button.cell.btn.btn-default.float-left(type="button", data-dismiss="modal") Cancel