.dropdown-header {
  text-align: right;
}

.stat {
  text-align: right;
}
.stat-value {
  color: #555;
  font-size: 1.4em;
  font-weight: bold;
  letter-spacing: -1px;
}
.stat-label {
  color: #999;
  font-weight: bold;
}
