extends ../../layouts/account

block head
  title Account Area

block neck
  link(rel='stylesheet', href='/views/coins/index.min.css?#{cacheBreaker}')

block feet
  script
    != 'window.app = window.app || {};'
    != 'window.app.main = \'views/coins/index\';'


block body
  div.row
    div.col-lg-14
      div.page-header
        h1 My Wallet
      div.row.coin-balances
        div.col-lg-8.coin-balances
      div.row
        div.col-lg-6.coin-table
  div.row.modal-content



  script(type='text/template', id='tmpl-_coin-balance-grid')
    div.col-sm-4

  script(type='text/template', id='tmpl-_coin-balance-cell')
    div.well.stat
      div.stat-value --
      div.stat-label !='<% fullName %>'
