extends ../../layouts/coin

block head
  title Wallet Area

block neck
  link(rel='stylesheet', href='/views/coins/index.min.css?#{cacheBreaker}')

block feet

block body
  div.row
    div.col-lg-14
      div.page-header
        h1 My Wallet
      div.row.coin-balances
        div.col-lg-8.coin-balances
      div.row
        div.col-lg-6.coin-table
  div.row.modal-content

  script(type='text/template', id='tmpl-_coin-balance-row')
    div.row

  script(type='text/template', id='tmpl-_coin-balance-cell')
    div.well.stat.div.col-sm-4
      div.stat-value --
      div.stat-label
        !='<%= obj.fullName %>'
