extends ../../layouts/coin

block head
  title Wallet Area

block neck
  link(rel='stylesheet', href='/views/coins/index.min.css?#{cacheBreaker}')

block feet

block body
  div.row
    div.col-lg-14
      div.page-header
        h1 My Wallet
      div.row.coin-balances
        div.col-lg-8.coin-balances


  script(type='text/template', id='tmpl-_coin-balance-cell')
    a(href!='/wallet/<%=obj._id%>/stat')
      div.stat-value
        !='<%= obj.shortName %>'
      div.stat-label
        !='<%= obj.fullName %>'
